.cuisines-window {
    position: absolute;
    margin-top: 390px;
    width: 240px;
    background-color: white;
}

h3 {
    padding-left: 10px;
    padding-top: 8px;
}

h3:last-child {
    padding-bottom: 8px
}